<style>
main table pre.terminal {
  display: table-cell;
}
</style>


<% if defined?(id) %>
<a name="<%= id %>"></a>
<% end %>


<table class="nice">
  <tr>
  <th colspan="2" style="text-align: left;"> <br>
    <%= description %>
  <br><br></th>
  </tr>
  <tr>
    <th>Symptom</th>
    <td><%= symptom %></td>
  </tr>
  <tr>
    <th>Cause</th>
    <td><%= cause %></td>
  </tr>
  <tr>
    <th>Solution</th>
    <td><%= solution %></td>
  </tr>
</table>
