<div id="sub-nav" class="nav-container js-sidenav" role="navigation">
<a class="sidenav-title" data-behavior="SubMenuMobile">Doc Index</a>
<div class="nav-content">
   <ul>
      <li class="has_submenu">
         <span role="button"><strong>Release Notes</strong></span>
         <ul>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/release-notes/runtime-rn.html"><%= vars.app_runtime_full %> v2.8 Release Notes</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/release-notes/segment-rn.html"><%= vars.segment_runtime_full %> v2.8 Release Notes</a>
            </li>
         </ul>
      </li>
      <li class="has_submenu">
         <span role="button"><strong>Installing</strong></span>
         <ul>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/pas-vsphere-requirements.html"><%= vars.app_runtime_abbr %> on vSphere Requirements</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/vsphere-nsx-t.html">Deploying <%= vars.app_runtime_abbr %> with NSX-T Networking</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/disk-format.html">vSphere Virtual Disk Types</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/configure-pas.html">Configuring <%= vars.app_runtime_abbr %></a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/quickstart-pas.html">Quick Start <%= vars.app_runtime_abbr %> Configuration</a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/pas-file-storage.html">Configuring File Storage for <%= vars.app_runtime_abbr %></a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/configure-lb.html">Configuring Load Balancing for <%= vars.app_runtime_abbr %></a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/installing-pcf-is.html">Installing <%= vars.segment_runtime_full %></a>
            </li>
            <li class="">
               <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/small-footprint.html">Getting Started with Small Footprint <%= vars.app_runtime_abbr %></a>
            </li>
         </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Upgrading</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/understanding-pas.html">What Happens During <%= vars.app_runtime_abbr %> Upgrades</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/configuring.html">Configuring <%= vars.app_runtime_abbr %> for Upgrades</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/pws_upgrade_load.html">Upgrade Load Example: Pivotal Web Services</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/cfpush-availability-during-upgrade.html">cf push Availability During <%= vars.app_runtime_abbr %> Upgrades</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Concepts</strong></span>
      <ul>
         <li>
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/index.html"><%= vars.app_runtime_abbr %> Concepts</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/overview.html"><%= vars.app_runtime_abbr %> Overview</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/overview.html">Services Overview</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Orgs, Spaces, and Roles</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/orgs-and-spaces.html">Planning <%= vars.app_runtime_abbr %> Orgs and Spaces</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>High Availability</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/high-availability.html">High Availability in <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/maintaining-high-availability.html">How <%= vars.app_runtime_abbr %> Maintains High Availability</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>How <%= vars.app_runtime_abbr %> Manages Apps</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/apps-index.html">How <%= vars.app_runtime_abbr %> Manages Apps</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/how-applications-are-staged.html">How Apps Are Staged</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/app-lifecycle.html">App Container Lifecycle</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/diego/diego-auction.html">How Diego Balances App Processes</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong><%= vars.app_runtime_abbr %> Runtime Components</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/index.html"><%= vars.app_runtime_abbr %> Components</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/diego/diego-architecture.html">Diego Components and Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/cf-routing-architecture.html"><%= vars.app_runtime_abbr %> Routing Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/cloud-controller.html">Cloud Controller</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/cc-blobstore.html">Cloud Controller Blobstore</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/uaa.html">User Account and Authentication (UAA) Server</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/architecture/garden.html">Garden</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/grootfs-disk.html">GrootFS Disk Usage</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/http-routing.html">HTTP Routing</a>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Administering</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/index.html">Administering <%= vars.app_runtime_abbr %></a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Managing the Runtime</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/platform-index.html">Managing the Runtime</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/api-endpoint.html">Identifying the API Endpoint for Your <%= vars.app_runtime_abbr %> Instance</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/quota-plans.html">Creating and Modifying Quota Plans</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/start-stop-vms.html">Stopping and Starting Virtual Machines</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/examining_grootfs_disk.html">Examining GrootFS Disk Usage</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/metadata.html">Using Metadata</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/custom-branding.html">Custom-Branding Apps Manager</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span><strong>Enabling Developers</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/docker.html">Using Docker in <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/docker-registry.html">Using Docker Registries</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/enable-vol-services.html">Enabling Volume Services</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/managing-service-brokers.html">Managing Service Brokers</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/access-control.html">Managing Access to Service Plans</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/dashboard-sso.html">Dashboard Single Sign-On</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/listing-feature-flags.html">Using Feature Flags</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/buildpacks.html">Managing Custom Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/supporting-websockets.html">Supporting WebSockets</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Managing Internal MySQL for <%= vars.app_runtime_abbr %></strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/mysql/scaling-mysql.html">Scaling Internal MySQL</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/mysql/mysql-diag.html">Running mysql-diag</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/mysql/bootstrap-mysql.html">Recovering From MySQL Cluster Downtime</a>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>User Accounts and Communications</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/user-accounts-index.html">User Accounts and Communications</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/user-types.html"><%= vars.app_runtime_abbr %> User Types</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/uaa/uaa-user-management.html">Creating and Managing Users with the UAA CLI (UAAC)</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/creating-account.html">Creating New <%= vars.app_runtime_abbr %> User Accounts</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/pw-policy.html">Configuring UAA Password Policy</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/notifications-asg.html">Configuring App Security Groups for Email Notifications</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/notifications.html">Getting Started with the Notifications Service</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Configuring Authentication and Enterprise SSO for <%= vars.app_runtime_abbr %></strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/auth-sso.html">Configuring Authentication and Enterprise SSO for <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/ca-sso-config.html">Configuring CA as an Identity Provider</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/ping-federate-sso-configuration.html">Configuring PingFederate as an Identity Provider</a>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Traffic and Security</strong></span>
      <ul>
         <li class="has_submenu">
            <span role="button"><strong>Front End</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/securing-traffic.html">Securing Traffic into <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/securing-endpoints.html">Securing System and App Endpoints</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/config-ssh.html">Configuring SSH Access for <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/diego/ssh-conceptual.html">App SSH Components and Processes</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/frontend-idle-timeout.html">Configuring Front End Idle Timeout for Gorouter and HAProxy</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Load Balancing and Routing</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/custom-load-balancer.html">Using Your Own Load Balancer</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/enabling-tcp-routing.html">Enabling and Configuring TCP Routing</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Apps</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/config-proxy.html">Configuring Proxy Settings for All Apps</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/switching-domains.html">Switching App Domains</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Health Checks for <%= vars.app_runtime_abbr %> Routers</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/route-service-lookup.html">Configuring Route Service Lookup</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Internal App Security</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/container-security.html">Container Security</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/understand-cf-networking.html">Container-to-Container Networking</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/asg.html">App Security Groups</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/app-sec-groups.html">Restricting App Access to Internal <%= vars.app_runtime_abbr %> Components</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Certificates and Credentials</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/credential-rotation.html">Rotating Runtime CredHub Encryption Keys</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/rotate-ccdb-key.html">Rotating the Cloud Controller Database Encryption Key</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/secure-si-creds.html">Securing Service Instance Credentials with Runtime CredHub</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/security_config.html">Providing a Certificate for Your TLS Termination Point</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Observability</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/data-sources.html">Overview of Logging and Metrics</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Logging</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/logging-config-opsman.html">Configuring Logging in <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/streaming-logs.html">App Logging in <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/cc-uaa-logging.html">Security Event Logging</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/custom-syslog-rules.html">Customizing Platform Log Forwarding</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Monitoring</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/monitoring/index.html">Monitoring <%= vars.app_runtime_abbr %></a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/monitoring/metrics.html">Selecting and Configuring a Monitoring System</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/id-jobs.html">Identifying <%= vars.app_runtime_abbr %> Jobs Using vCenter</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>App Metrics</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/container-metrics.html">Container Metrics</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/metric-registrar/index.html">Metric Registrar and Custom App Metrics</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/metric-registrar/using.html">Using Metric Registrar</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/identify-metric-source.html">Identifying the Source Deployment of Metrics</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Performance and Scaling</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/monitoring/kpi.html">Key Performance Indicators</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/overview/monitoring/key-cap-scaling.html">Key Capacity Scaling Indicators</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Reporting</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/accounting-report.html">Reporting App, Task, and Service Instance Usage</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/accounting-report-apps-man.html">Reporting Instance Usage with Apps Manager</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Loggregator Architecture</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/architecture.html">Loggregator Architecture</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/log-ops-guide.html">Loggregator Guide for <%= vars.app_runtime_abbr %> Operators</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/loggregator/agent-architecture.html">Log and Metric Agent Architecture (Beta)</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Isolation Segment</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segment-index.html">Isolation Segments</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segments.html">Managing Isolation Segments</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/routing-is.html">Routing for Isolation Segments</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
                <span role="button"><strong>TAS for VMs [Windows]</strong></span>
                <ul>
                    <li>
                        <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/index.html">Overview</a>
                    </li>
                    <li class="has_submenu">
                    <span role="button"><strong>Concepts</strong></span>
                     <ul>
                        <li>
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/architecture.html">Product Architecture</a>
                        </li>
                     </ul>
                    </li>
                    <li class="has_submenu">
                    <span role="button"><strong>Installing</strong></span>
                     <ul>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/installing.html">Installing and Configuring TAS for VMs [Windows]</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/stemcells.html">Downloading or Creating Windows Stemcells</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/create-vsphere-stemcell-automatically.html">Creating a Windows Stemcell for vSphere Using stembuild</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/isolation.html">Windows Diego Cells in Isolation Segments</a>
                        </li>
                     </ul>
                    </li>
                    <li class="has_submenu">
                    <span role="button"><strong>Upgrading</strong></span>
                     <ul>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/upgrade-windows.html">Upgrading TAS for VMs [Windows] and Windows Stemcells</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/migrating.html">Migrating Apps to TAS for VMs [Windows]</a>
                        </li>
                     </ul>
                    </li>
                    <li class="has_submenu">
                    <span role="button"><strong>Using</strong></span>
                     <ul>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/develop.html">Deploying .NET Apps</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/smb-volumes-apps.html">Using SMB Volumes in .NET Apps</a>
                        </li>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/using.html">Tips for .NET Framework Developers</a>
                        </li>
                     </ul>
                    </li>
                    <li class="has_submenu">
                    <span role="button"><strong>Troubleshooting</strong></span>
                     <ul>
                        <li class="">
                            <a href="https://docs.pivotal.io/application-service-windows/<%= product_info['local_product_version'].to_s.sub('.','-') %>/troubleshooting.html">Troubleshooting Windows Diego Cells</a>
                        </li>
                     </ul>
                    </li>
                </ul>
            </li>
   <li class="has_submenu">
      <span role="button"><strong>Using Apps Manager</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/index.html">Using Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/dev-console.html">Getting Started with Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/console-login.html">Logging In to Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/manage-spaces.html">Managing Orgs and Spaces Using Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/console-roles.html">Managing User Roles with Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/manage-apps.html">Managing Apps and Service Instances Using Apps Manager</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Scaling an App Using App Autoscaler</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/appsman-services/autoscaler/about-app-autoscaler.html">About App Autoscaler</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/appsman-services/autoscaler/using-autoscaler.html">Scaling an App Using App Autoscaler</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/appsman-services/autoscaler/spring-tutorial.html">Tutorial: Scaling a Spring App on a Custom Metric</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/appsman-services/autoscaler/using-autoscaler-cli.html">Using the App Autoscaler CLI</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/space-asgs.html">Viewing ASGs in Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/spring-boot-actuators.html">Configuring Spring Boot Actuator Endpoints for Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/console/using-actuators.html">Using Spring Boot Actuators with Apps Manager</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/configure-multi-foundation.html">Configuring Multi-Foundation Support in Apps Manager</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Using the Cloud Foundry Command Line Interface (cf CLI)</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/install-go-cli.html">Installing the cf CLI</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/v7.html">Upgrading to cf CLI v7</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/getting-started.html">Getting Started with the cf CLI</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/http-proxy.html">Using the cf CLI with a Proxy Server</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/self-signed.html">Using the cf CLI with a Self-Signed Certificate</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/use-cli-plugins.html">Using cf CLI Plugins</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/develop-cli-plugins.html">Developing cf CLI Plugins</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/cf-cli/cf-help.html">Cloud Foundry CLI Reference Guide</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/v3-commands.html">Using Experimental cf CLI Commands</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Developer Guide</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/index.html">Developer Guide</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/prepare-to-deploy.html">Considerations for Designing and Running an App in the Cloud</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/pcf-dev/index.html"><strong><%= vars.platform_name %> Dev</strong></a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>cf push</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/deploy-app.html">Pushing an App</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/manifest.html">Deploying with App Manifests</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/manifest-attributes.html">App Manifest Attribute Reference</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/push-docker.html">Deploying an App with Docker</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/large-app-deploy.html">Deploying a Large App</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/start-restart-restage.html">Starting, Restarting, and Restaging Apps</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/multiple-processes.html">Pushing an App with Multiple Processes</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/push-sub-commands.html">Running cf push Sub-Step Commands</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/rolling-deploy.html">Rolling App Deployments</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/sidecars.html">Pushing Apps with Sidecar Processes</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/blue-green.html">Using Blue-Green Deployment to Reduce Downtime and Risk</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/troubleshoot-app-health.html">Troubleshooting App Deployment and Health</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Routes and Domains</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/routes-domains.html">Configuring Routes and Domains</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/custom-ports.html">Configuring <%= vars.app_runtime_abbr %> to Route Traffic to Apps on Custom Ports</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Managing Apps with the cf CLI</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/using-tasks.html">Running Tasks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/cf-scale.html">Scaling an App Using cf scale</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/healthchecks.html">Using App Health Checks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/revisions.html">App Revisions</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/cf-networking.html">Configuring Container-to-Container Networking</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Managing Services</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/">Services Overview</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/managing-services.html">Managing Service Instances with the cf CLI</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/sharing-instances.html">Sharing Service Instances</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/application-binding.html">Delivering Service Credentials to an App</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/service-keys.html">Managing Service Keys</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/play-service-bindings.html">Configuring Play Framework Service Connections</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/using-vol-services.html">Using an External File System (Volume Services)</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/user-provided.html">User-Provided Service Instances</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Streaming App Logs</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/log-management.html">Streaming App Logs to Log Management Services</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/log-management-thirdparty-svc.html">Service-Specific Instructions for Streaming App Logs</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/integrate-splunk.html">Streaming App Logs to Splunk</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/fluentd.html">Streaming App Logs with Fluentd</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/services/oms-nozzle.html">Streaming App Logs to Azure OMS Log Analytics (Beta)</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>SSH for Apps and Services</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/app-ssh-overview.html">App SSH Overview</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/ssh-apps.html">Accessing Apps with SSH</a>
               </li>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/ssh-services.html">Accessing Services with SSH</a>
               </li>
            </ul>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/environment-variable.html"><%= vars.app_runtime_abbr %> Environment Variables</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/capi/client-libraries.html">Cloud Controller API Client Libraries</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Buildpacks</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/index.html">Buildpacks</a>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>Using Buildpacks</strong></span>
            <ul>
               <li>
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/using-buildpacks.html">Using Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/understand-buildpacks.html">How Buildpacks Work</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/stack-association.html">Stack Association</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/use-multiple-buildpacks.html">Pushing an App with Multiple Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/proxy-usage.html">Using a Proxy Server</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/supported-binary-dependencies.html">Supported Binary Dependencies</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/prod-server.html">Production Server Configuration</a>
               </li>
            </ul>
         </li>
         <li class="has_submenu">
            <span role="button"><strong>System Buildpacks</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/system-buildpacks.html">System Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/binary/index.html">Binary Buildpack</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/go/index.html">Go Buildpack</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>HWC (.NET Framework)</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/hwc/index.html">HWC Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/hwc/extension-buildpack.html">Creating an Extension Buildpack for .NET Apps</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/windows/using.html">Tips for .NET Framework Developers</a>
                     </li>
                  </ul>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Java</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/index.html">Java Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/java-tips.html">Tips for Java Developers</a>
                     </li>
                     <li class="has_submenu">
                        <span role="button"><strong>Getting Started Deploying Apps</strong></span>
                        <ul>
                           <li>
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/getting-started-deploying-apps/index.html">Getting Started Deploying Java Apps</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/getting-started-deploying-apps/gsg-grails.html">Getting Started Deploying Grails Apps</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/getting-started-deploying-apps/gsg-ratpack.html">Getting Started Deploying Ratpack Apps</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/getting-started-deploying-apps/gsg-spring.html">Getting Started Deploying Spring Apps</a>
                           </li>
                        </ul>
                     </li>
                     <li class="has_submenu">
                        <span role="button"><strong>Configuring Service Connections</strong></span>
                        <ul>
                           <li>
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/configuring-service-connections/index.html">Configuring Service Connections</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/configuring-service-connections/grails-service-bindings.html">Configuring Service Connections for Grails</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/configuring-service-connections/play-service-bindings.html">Configuring Service Connections for Play Framework</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/configuring-service-connections/spring-service-bindings.html">Configuring Service Connections for Spring</a>
                           </li>
                        </ul>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/java/java-client.html">Cloud Foundry Java Client Library</a>
                     </li>
                  </ul>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/dotnet-core/index.html">.NET Core Buildpack</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/nginx/index.html">NGINX Buildpack</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Node.js</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/node/index.html">Node.js Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/node/node-tips.html">Tips for Node.js Developers</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/node/node-environment.html">Environment Variables Defined by the Node Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/node/node-service-bindings.html">Configuring Service Connections for Node.js</a>
                     </li>
                  </ul>
               </li>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>PHP</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/index.html">PHP Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-tips.html">Tips for PHP Developers</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-usage.html">Getting Started Deploying PHP Apps</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-config.html">PHP Buildpack Configuration</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-composer.html">Composer</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-sessions.html">Sessions</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/php/gsg-php-newrelic.html">New Relic</a>
                     </li>
                  </ul>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/python/index.html">Python Buildpack</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/r/index.html">R Buildpack</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Ruby</strong></span>
                  <ul>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/index.html">Ruby Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/ruby-tips.html">Tips for Ruby Developers</a>
                     </li>
                     <li class="has_submenu">
                        <span role="button"><strong>Getting Started Deploying Ruby Apps</strong></span>
                        <ul>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/gsg-ruby.html">Getting Started Deploying Ruby Apps</a>
                           </li>
                           <li class="">
                              <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/gsg-ror.html">Getting Started Deploying Ruby on Rails Apps</a>
                           </li>
                        </ul>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/rake-config.html">Configuring Rake Tasks for Deployed Apps</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/ruby-environment.html">Environment Variables Defined by the Ruby Buildpack</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/ruby-service-bindings.html">Configuring Service Connections for Ruby</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/ruby/windows.html">Support for Windows Gemfiles</a>
                     </li>
                  </ul>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/staticfile/index.html">Staticfile Buildpack</a>
               </li>
            </ul>
         <li class="has_submenu">
            <span role="button"><strong>Customizing and Developing Buildpacks</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/developing-buildpacks.html">Customizing and Developing Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/custom.html">Creating Custom Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/depend-pkg-offline.html">Packaging Dependencies for Offline Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/merging_upstream.html">Merging from Upstream Buildpacks</a>
               </li>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/upgrading_dependency_versions.html">Upgrading Dependency Versions</a>
               </li>
               <li class="has_submenu">
                  <span role="button"><strong>Using CI for Buildpacks</strong></span>
                  <ul>
                     <li>
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/buildpack-ci-index.html">Using CI for Buildpacks</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/releasing_a_new_buildpack_version.html">Releasing a New Buildpack Version</a>
                     </li>
                     <li class="">
                        <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/buildpacks/updating-buildpack-related-gems.html">Updating Buildpack-Related Gems</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>

   <li class="has_submenu">
      <span role="button"><strong>Service Brokers</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/index.html">Services</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/examples.html">Example Service Brokers</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/binding-credentials.html">Binding Credentials</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/enable-sharing.html">Enabling Service Instance Sharing</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/app-log-streaming.html">App Log Streaming</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/route-services.html">Route Services</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/services/supporting-multiple-cf-instances.html">Supporting Multiple <%= vars.app_runtime_abbr %> Instances</a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Security and Compliance</strong></span>
      <ul>
         <li class="has_submenu">
            <span role="button"><strong>Security Policy and Processes</strong></span>
            <ul>
               <li class="">
                  <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html"><%= vars.app_runtime_abbr %> Security</a>
               </li>
            </ul>
         </li>

         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/gdpr.html">General Data Protection Regulation and <%= vars.app_runtime_full %></a>
         </li>
      </ul>
   </li>
   <li class="has_submenu">
      <span role="button"><strong>Troubleshooting and Diagnostics</strong></span>
      <ul>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/diagnostics.html">Diagnosing Deployment Problems</a>
         </li>

         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/troubleshooting_slow_requests.html">Troubleshooting Slow Requests in <%= vars.app_runtime_abbr %></a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/troubleshooting_tcp_routing.html">Troubleshooting TCP Routing</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/troubleshooting-router-error-responses.html">Troubleshooting Router Error Responses</a>
         </li>

         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/gcp-troubleshooting.html">Troubleshooting <%= vars.platform_name %> on GCP</a>
         </li>
         <li class="">
            <a href="https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/power-failure.html">Checking <%= vars.platform_name %> State after a Power Failure on vSphere</a>
         </li>
      </ul>
      <hr>
   </li>
   <li>
      <a href="https://docs.pivotal.io/ops-manager"><strong>Ops Manager Documentation</strong></a>
   </li>
   <li>
      <a href="https://docs.pivotal.io/tas-kubernetes"><strong>TAS for Kubernetes Documentation</strong></a>
   </li>
   <li>
      <a href="https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/index.html"><strong>Tanzu Kubernetes Grid Documentation</strong></a>
   </li>
   <li>
      <a href="https://docs.pivotal.io/tkgi/index.html"><strong>Tanzu Kubernetes Grid Integrated Edition Documentation</strong></a>
   </li>
  </div>
</div>


<%# Make relative link if book path is in link: %>
<script>

var domain = window.location.protocol + "//" + window.location.hostname;

if (window.location.hostname == "localhost") {
   var domain = domain + ":" + window.location.port;
}

$('#sub-nav a[href]').each(function() {
   if ($(this).attr("href").includes("<%= product_info['url_prefix'] %>")) {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", '');
      $(this).attr("href", new_href);
   }
   else {
      var new_href = $(this).attr("href").replace("https://docs.pivotal.io", domain);
      $(this).attr("href", new_href);
   }
});

</script>
