Some <%= vars.product_name %> services offer *on-demand* service plans.
These plans let developers provision service instances when they want.

These contrast with the more common *pre-provisioned* service plans,
which require operators to provision the service instances during installation
and configuration through the service tile UI.

The following <%= vars.product_name %> services offer on-demand service plans:

* MySQL for <%= vars.product_name %> v2.0 and later

* RabbitMQ for <%= vars.product_name %>

* Redis for <%= vars.product_name %>

* Pivotal Cloud Cache (PCC)

These services package and deliver their on-demand service offerings differently.
For example, some services, like Redis for <%= vars.product_name %>, have one tile,
and you configure the tile differently depending on whether you want on-demand
service plans or pre-provisioned service plans.

For other services, like PCC and MySQL for <%= vars.product_name %>, only on-demand service plans are available.

The following table lists and contrasts the different ways that <%= vars.product_name %> services
package on-demand and pre-provisioned service offerings.

<table class="nice">
  <tr>
    <th><%= vars.product_name %> service tile</th>
    <th>Standalone product related to the service</th>
    <th>Versions supporting on demand</th>
    <th>Versions supporting pre-provisioned</th>
  </tr>
  <tr>
    <td>RabbitMQ for <%= vars.product_name %></td>
    <td>Pivotal RabbitMQ</td>
    <td>v1.8 and later</td>
    <td>All versions</td>
  </tr>
  <tr>
    <td>Redis for <%= vars.product_name %></td>
    <td>Redis</td>
    <td>v1.8 and later</td>
    <td>All versions</td>
  </tr>
  <tr>
    <td>MySQL for <%= vars.product_name %></td>
    <td>MySQL </td>
    <td>v2.x<br></td>
    <td><em>NA</em></td>
  </tr>
  <tr>
    <td>PCC</td>
    <td>Pivotal GemFire</td>
    <td>All versions</td>
    <td><em>NA</em></td>
  </tr>
</table>
